:root {
	--light-grey-violet: hsl(270, 3%, 87%);
	--dark-grey-violet: hsl(279, 6%, 55%);
	--very-dark-violet: hsl(278, 68%, 11%);
	--linear-gradient1: hsl(249, 99%, 64%);
	--linear-gradient2: hsl(278, 94%, 30%);
	--error-red: hsl(0, 100%, 66%);
}
